.container-workorder {
  width: 450px;
  height: 350px;
  margin: 20px 60px;
  background-color: rgb(240, 240, 240);
}

.container-workorder .workorder-info {
  text-align: center;
  margin-bottom: 30px;
}

.container-workorder .workorder-info p {
  width: 260px;
  margin: 0 auto;
  text-align: left;
}

.container-workorder .workorder-worker {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.container-workorder .workorder-workerInfo {
  width: 100px;
  font-size: 14px;
  margin-right: 50px;
}

.container-workorder .workorder-worker img {
  width: 140px;
  margin-right: 40px;
  border-radius: 50%;
}

.container-workorder .workorder-datetime {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 12px;
  text-align: right;
}
